

<br><br>

<div class="container">

    <app-facets [records]="movies" (filter)="setFilter($event)"></app-facets>



  <div class="row count">
    <h5 *ngIf="movies">Total Movies: {{ filterMetadata.count || 0 }}</h5>
  </div>
  <!-- Output Data -->
  <div class="row header">
    <div class="col-md-2"><h5>Title</h5></div>
    <div class="col-md-2"><h5>Genre</h5></div>
    <div class="col-md-2"><h5>Release Date</h5></div>
    <div class="col-md-2"><h5>Active</h5></div>
    <div class="col-md-4"><h5>Description</h5></div>
  </div>
  <div class="row data" *ngFor="let m of movies | facetFilter:filters:filterMetadata">
    <div class="col-md-2">{{m.title }}</div>
    <div class="col-md-2">{{ m.genre }}</div>
    <div class="col-md-2">{{ m.releaseDate }}</div>
    <div class="col-md-2">{{ m.isActive }}</div>
    <div class="col-md-4">{{ m.description }}</div>
  </div>
</div>

