<br><br>
<div class="container" style="margin: 1em;">
  <h5 *ngIf="movies" style="margin: 2em 0;">Total Movies: {{ filterMetadata.count || 0 }}</h5>

  <div class="row">
    <div class="col-md-3">
      <app-facets [records]="movies" (filter)="setFilter($event)"></app-facets>
    </div>
    <div class="col-md-9">
      <!-- Output Data -->
      <div class="row" *ngFor="let m of movies | facetFilter:filters:filterMetadata"
           style="padding: 1rem; border-bottom: 1px solid silver; margin: 1rem;">
        <div class="col-md-2 img"></div>
        <div class="col-md-10">
          <h5 class="card-title">{{m.title }}</h5>
          <p class="card-text">{{m.description }}</p>
          <div class="row">
            <div class="col-md-4">
              <h6 style="display: inline-block">Genre:</h6>
              {{ m.genre }}
            </div>
            <div class="col-md-4">
              <h6 style="display: inline-block">Rating:</h6>
              {{ m.rating }}
            </div>
            <div class="col-md-4">
              <h6 style="display: inline-block">Stars:</h6>
              {{ m.stars }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

