<br><br>
<div class="container">
  <app-facets [records]="movies" (filter)="setFilter($event)"></app-facets>


  <h5 *ngIf="movies" style="margin: 2em 0;">Total Movies: {{ filterMetadata.count || 0 }}</h5>

  <!-- Output Data -->
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col"><h5>Title</h5></th>
      <th scope="col"><h5>Genre</h5></th>
      <th scope="col"><h5>Release Date</h5></th>
      <th scope="col"><h5>Active</h5></th>
      <th scope="col"><h5>Description</h5></th>
    </tr>
    </thead>
    <tbody class="table-striped">
    <tr *ngFor="let m of movies | facetFilter:filters:filterMetadata">
      <td>{{m.title }}</td>
      <td>{{ m.genre }}</td>
      <td>{{ m.releaseDate }}</td>
      <td>{{ m.isActive }}</td>
      <td>{{ m.description }}</td>
    </tr>
    </tbody>
  </table>
</div>

