<section class="row facets">
  <div class="">
    <div class="card" style="border: none">
      <div class="card-body">
        <h6 class="card-title">Genre</h6>
        <ul>
          <li *ngFor="let value of facetGroups.genre">
            <input type="checkbox" (click)="setFacetOptions('genre', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>

    <div class="card" style="border: none">
      <div class="card-body">
        <h6 class="card-title">Stars</h6>
        <ul>
          <li *ngFor="let value of facetGroups.stars">
            <input type="checkbox" (click)="setFacetOptions('stars', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card" style="border: none">
      <div class="card-body">
        <h6 class="card-title">Rating</h6>
        <ul>
          <li *ngFor="let value of facetGroups.rating">
            <input type="checkbox" (click)="setFacetOptions('rating', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="card" style="border: none">
      <div class="card-body">
        <h6 class="card-title">Release Date</h6>
        <ul>
          <li *ngFor="let value of facetGroups.releaseDate">
            <input type="checkbox" (click)="setFacetOptions('releaseDate', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>

</section>
{{ facetOptions | json }}
