<section class="row facets">
  <div class="col-md-12 card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Genre</h5>
        <ul>
          <li *ngFor="let value of facetGroups.genre">
            <input type="checkbox" (click)="setFacetOptions('genre', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Release Date</h5>
        <ul>
          <li *ngFor="let value of facetGroups.releaseDate">
            <input type="checkbox" (click)="setFacetOptions('releaseDate', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stars</h5>
        <ul>
          <li *ngFor="let value of facetGroups.stars">
            <input type="checkbox" (click)="setFacetOptions('stars', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rating</h5>
        <ul>
          <li *ngFor="let value of facetGroups.rating">
            <input type="checkbox" (click)="setFacetOptions('rating', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ facetOptions | json }}
