<section class="row facets">
  <div class="col-md-12 card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Genre</h5>
        <ul>
          <li *ngFor="let value of facetGroups.genre">
            <input type="checkbox" (click)="setFacetOptions('genre', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Release Date</h5>
        <ul>
          <li *ngFor="let value of facetGroups.releaseDate">
            <input type="checkbox" (click)="setFacetOptions('releaseDate', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Active</h5>
        <ul>
          <li *ngFor="let value of facetGroups.isActive">
            <input type="checkbox" (click)="setFacetOptions('isActive', value)"> {{ value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
